<!-- setting modal:系统帮助 -->
<div id="setting_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>参数设置</h3>
      </div>
      <div class="modal-body">
        <div class="modal_info">
            hello world
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="save_button">保存</button>
      </div>
    </div>
  </div>
</div>

<!-- layer modal:生成layer modal -->
<div id="layer_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>图层控制</h3>

      </div>
      <div class="modal-body">
        <div class="modal_info"></div>
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="gridSelect">GIS图层:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4" id="GisLayerSelect">
              <option value="0">--隐藏--</option>
              <option value="1">安徽省</option>
              <option value="2">江苏省</option>
              <option value="3">浙江省</option>
              <option value="4">上海市</option>
            </select>
          </div>
          <div class="form-group row">
            <label for="resolution" class="col-sm-3 col-form-label">数据图层:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4" id="DataLayerSelect">
              <option value="0">--隐藏--</option>
              <option value="1">显示</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-default" id="layerUpdateBtn">更新</button>
        <button type="button" class="btn btn-primary" id="layer_button">确定</button>
      </div>
    </div>
  </div>
</div>

{% include "dialog/data.html" %}

{% include "dialog/gis.html" %}

{% include "dialog/plot.html" %}


<!-- help modal:系统帮助 -->
<div id="help_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>系统帮助</h3>
      </div>
      <div class="modal-body">
        <div class="modal_info">
            hello world
        </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- About us modal:关于 -->
<div id="about_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>关于</h3>
      </div>
      <div class="modal-body">
        <div class="intro">
          安徽省减排评估管理系统是针对安徽省环科院的项目需求，建设统一的数据管理、分析、可视化平台。核心功能主要包括安徽省大气污染物数据管理，面源数据的GIS网格化插值（依据GDP和人口数据），NetCDF数据可视化及3D的数据渲染。
        </div>
        <div class="contact-us">
          <div class="address">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            合肥市包河区
          </div>
          <div class="telephone">
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            0551-63600161
          </div>
          <div class="email">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            kxqiu@chinkun.cn
          </div>
        </div>
        <div class="Copyright">
          ©️合肥星导电子科技有限公司 2017 版权所有
        </div>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
