{% load static %}

	<!-- <link rel="stylesheet" type="text/css" href="{% static 'ahhost/bootstrap/css/bootstrap.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/openlayers-4.2.0/ol.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'ahhost/DataTables/datatables.min.css' %}"/> -->
	<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/> -->
	<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/> -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/DataTables/Select-1.2.3/css/select.bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'ahhost/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/structured-filter/css/structured-filter.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'ahhost/ckdev/css/style.css' %}">

	<script type="text/javascript" src="{% static 'ahhost/jquery-easyui-1.5.2/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/openlayers-4.2.0/ol.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/DataTables/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/DataTables/Select-1.2.3/js/dataTables.select.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/structured-filter/js/structured-filter.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/ckdev/js/global.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/ckdev/js/block-map.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/ckdev/js/block-dataTable.js' %}"></script>
	<script type="text/javascript" src="{% static 'ahhost/ckdev/js/block-dialog.js' %}"></script>
