<h5><i class="glyphicon glyphicon-th"></i> 排放源数据库</h5>
<hr>
<div class="module">
	<div class="row">
		<div class="col-md-6" data-toggle="modal" data-target="#setting_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="参数设置">
					<img src="/static/img/settings.png"/>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="数据文件">
					<img src="/static/img/files.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#layer_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="图层控制">
					<img src="/static/img/layer_control.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#file_upload_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="导入数据">
					<img src="/static/img/data_import.png"/>
				</a>
			</div>
			<div class="col-md-6"  data-toggle="modal" data-target="#data_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="数据检索">
					<img src="/static/img/data_search.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#filter_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="统计分析">
					<img src="/static/img/analysis.png"/>
				</a>
			</div>
			<!-- <div class="col-md-6" >
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="数据导出">
					<img src="/static/img/export.png"/>
				</a>
			</div> -->
			<!-- <div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="饼状图">
					<img src="/static/img/pie.png"/>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="3d制图">
					<img src="/static/img/3d.png"/>
				</a>
			</div>
			<div class="col-md-6" >
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="数据绘图">
					<img src="/static/img/plot.png"/>
				</a>
			</div> -->
	</div>
</div>
