<h5><i class="glyphicon glyphicon-th"></i> 数据可视化</h5>
<hr>
<div class="module">
	<div class="row">
		<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="参数设置">
					<img src="/static/img/settings.png"/>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="数据文件">
					<img src="/static/img/files.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#layer_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="图层控制">
					<img src="/static/img/layer_control.png"/>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="数据绘图">
					<img src="/static/img/plot.png"/>
				</a>
			</div>
	</div>
</div>
