<h5><i class="glyphicon glyphicon-th"></i> GIS网格</h5>
<hr>
<div class="module">
	<div class="row">
		<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="参数设置">
					<img src="/static/img/settings.png"/>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="文件管理">
					<img src="/static/img/files.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#layer_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="图层控制">
					<img src="/static/img/layer_control.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#province_shapefile_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="省级网格生成">
					<img src="/static/img/shapefile.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#city_shapefile_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="市级网格生成">
					<img src="/static/img/shapefile.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#raster_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="网格统计分析">
					<img src="/static/img/raster.png"/>
				</a>
			</div>
			<div class="col-md-6" data-toggle="modal" data-target="#interpolation_modal">
				<a href="#" class="thumbnail" data-toggle='tooltip' data-placement="bottom" title="点源插值">
					<img src="/static/img/interpolation.png"/>
				</a>
			</div>
	</div>
</div>
