<div class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="#"><img id="img-logo" alt="" src="/static/img/favicon.ico">安徽省减排评估管理系统</a>
    <ul class="nav navbar-nav pull-right">
			<li data-index="1" class="one active"><a href="#">排放源数据库</a></li>
			<li data-index="2" class="one"><a href="#">GIS网格</a></li>
			<li data-index="3" class="one"><a href="#">数据绘图</a></li>
      <li data-index="4" class="two"><a href="#">系统帮助</a></li>
      <li data-index="5" class="two"><a href="#">关于</a></li>
    </ul>
  </div>
</div>
