<!-- province shapefile modal:生成省级shapefile modal -->
<div id="province_shapefile_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>省级网格生成</h3>

      </div>
      <div class="modal-body">
        <div class="modal_info"></div>
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="gridSelect">选择网格区域:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4">
            </select>
          </div>
          <div class="form-group row">
            <label for="resolution" class="col-sm-3 col-form-label">网格分辨率:</label>
            <div class="col-sm-4">
              <input class="form-control resolution" type="number" value="0.5" min="0.1"
                max="1" step="0.1">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary"
          id="province_shapefile_button">
            生成
        </button>
      </div>
    </div>
  </div>
</div>

<!-- city shapefile modal:生成市级shapefile modal -->
<div id="city_shapefile_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
        <h3>市级网格生成</h3>
      </div>
      <div class="modal-body">
        <div class="modal_info"></div>
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="gridSelect">选择网格区域:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4">
            </select>
          </div>
          <div class="form-group row">
            <label for="resolution" class="col-sm-3 col-form-label">网格分辨率:</label>
            <div class="col-sm-4">
              <input class="form-control resolution" type="number" value="0.1" min="0.01"
                max="0.1" step="0.01">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="city_shapefile_button">生成</button>
      </div>
    </div>
  </div>
</div>

<!-- raster modal:统计分析网格 -->
<div id="raster_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>网格统计分析</h3>
      </div>
      <div class="modal-body">
        <div class="modal_info"></div>
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="rasterAreaSelect">Raster区域:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4" id="rasterAreaSelect">
            </select>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="statisticTypeRadio">统计类别:</label>
            <div class="form-check form-check-inline col-sm-2" >
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="st" value="Population" checked>
                人口
              </label>
            </div>
            <div class="form-check form-check-inline col-sm-2">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="st" value="GDP">
                GDP
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label for="resolution" class="col-sm-3 col-form-label">网格分辨率:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4" id="gridResolutionSelect">
              <option value="100">1度 x 1度</option>
              <option value="50">0.5度 x 0.5度</option>
              <option value="10">0.1度 x 0.1度</option>
              <option value="5">0.05度 x 0.05度</option>
              <option value="1">0.01度 x 0.01度</option>
            </select>
          </div>
          <div class="form-group row">
            <label for="resolution" class="col-sm-3 col-form-label">污染物类别:</label>
            <select class="custom-select mb-2 mr-sm-2 col-sm-4" id="pollutionTypeSelect">
              <option value="so2">SO2</option>
              <option value="nox">NOx</option>
              <option value="co">CO</option>
              <option value="pm">PM</option>
              <option value="pm10">PM10</option>
              <option value="pm25">PM2.5</option>
              <option value="nmvoc">NMVOC</option>
              <option value="nh3">NH3</option>
            </select>
          </div>
          <div class="form-group row">
            <label for="resolution" class="col-sm-3 col-form-label">区域排放总量:</label>
            <input type="number" min=1.0 placeholder="100.0" required
              id="pollutionSumValue" class="custom-select mb-2 mr-sm-2 col-sm-4" >
            </input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="calculate_button">计算</button>
      </div>
    </div>
  </div>
</div>

<!-- interpolation modal:点源插值 -->
<div id="interpolation_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
        <h3>安徽省境内点源插值</h3>
      </div>
      <div class="modal-body">
        <div class="modal_info"></div>
        <form>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="interpolation_button">开始插值</button>
      </div>
    </div>
  </div>
</div>
